.skills {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
  transform: translate(2px);
}

.skills .skill {
  height: 40px;
  background-color: #035680;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: white;
  justify-content: end;
  border-end-start-radius: 20px;
  border-start-start-radius: 20px;
  transition: .3s all;
}

.skills .skill .now {
  background: rgb(51, 162, 210);
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-end-start-radius: 20px;
  border-start-start-radius: 20px;
}

.skill-HTML {
  width: 300px;
}

.skill-HTML-now {
  width: 280px;
}

.skill-CSS {
  width: 270px;
}

.skill-CSS-now {
  width: 240px;
}

.skill-JS {
  width: 300px;
}

.skill-JS-now {
  width: 270px;
}

.skill-React {
  width: 300px;
}

.skill-React-now {
  width: 270px;
}

.skill-Redux {
  width: 310px;
}

.skill-Redux-now {
  width: 290px;
}

.skill-Solving {
  width: 300px;
}

.skill-Solving-now {
  width: 250px;
}

.skill-Courage {
  width: 300px;
}

.skill-Courage-now {
  width: 280px;
}

.skill-English {
  width: 260px;
}

.skill-English-now {
  width: 200px;
}

.skill-Active {
  width: 300px;
}

.skill-Active-now {
  width: 270px;
}

.skill-New {
  background-color: transparent !important;
}

.skill-New-now {
  width: 120px;
  background: rgb(51, 162, 210) !important;
  background: linear-gradient(90deg, #035680 0%,rgb(51, 162, 210) 70%) !important;
}