.skills {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5.9px;
  transform: translate(2px);
  height: 100%;
}

.skills .skill {
  height: 34px;
  background-color: #035680;
  display: flex;
  font-weight: 400;
  color: white;
  justify-content: end;
  border-end-start-radius: 20px;
  border-start-start-radius: 20px;
}

.skills .skill .now {
  background: rgb(51, 162, 210);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-end-start-radius: 20px;
  border-start-start-radius: 20px;
}

.skill-HTML {
  width: 300px;
}

.skill-HTML-now {
  width: 280px;
}

.skill-CSS {
  width: 280px;
}

.skill-CSS-now {
  width: 240px;
}

.skill-JS {
  width: 280px;
}

.skill-JS-now {
  width: 250px;
}

.skill-React {
  width: 300px;
}

.skill-React-now {
  width: 270px;
}

.skill-Redux {
  width: 300px;
}

.skill-Redux-now {
  width: 280px;
}

.skill-Solving {
  width: 270px;
}

.skill-Solving-now {
  width: 240px;
}

.skill-Courage {
  width: 290px;
}

.skill-Courage-now {
  width: 270px;
}

.skill-English {
  width: 260px;
}

.skill-English-now {
  width: 210px;
}

.skill-Active {
  width: 290px;
}

.skill-Active-now {
  width: 260px;
}

.skill-New {
  background-color: transparent !important;
}

.skill-New-now {
  width: 120px;
  background: rgb(51, 162, 210) !important;
  background: linear-gradient(90deg, #035680 0%,rgb(51, 162, 210) 70%) !important;
}

@media only screen and (max-width: 700px) {
  .skills{
    height: 100%;
    gap: 5.35px;
  }
  .skill{
    height: 28px !important;
  }
}