.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

body{
  background-color: rgb(2, 30, 57);
}